.git
.github
.build
**/.build
.DS_Store
.env
.env.*
**/*.key
**/*.pem
**/*.mobileprovision
**/*.p12
**/*.p8
**/*.pfx
**/*keystore*
**/Secrets.xcconfig
**/local.properties
App
Cloudflare
README.md
*.ipa
*.dSYM
*.dSYM.zip
